<div class="form-search">
    <form method="post">
        <div class="mb-3 pt-5">
            <label for="search" class="form-label">Search</label>
            <input type="text" name="q" class="form-control" id="search" placeholder="Nhập từ khóa...">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>